## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [ ]:
app_train.shape

#### 列出所有欄位

In [ ]:
app_train

#### 截取部分資料

In [8]:
app_train[['CODE_GENDER', 'AMT_INCOME_TOTAL']][0:150]

    CODE_GENDER  AMT_INCOME_TOTAL
0             M        202500.000
1             F        270000.000
2             M         67500.000
3             F        135000.000
4             M        121500.000
5             M         99000.000
6             F        171000.000
7             M        360000.000
8             F        112500.000
9             M        135000.000
10            F        112500.000
11            F         38419.155
12            F         67500.000
13            M        225000.000
14            F        189000.000
15            M        157500.000
16            M        108000.000
17            F         81000.000
18            F        112500.000
19            F         90000.000
20            M        135000.000
21            F        202500.000
22            F        450000.000
23            F         83250.000
24            M        135000.000
25            F         90000.000
26            F        112500.000
27            M        112500.000
28            M        270000.000
29            M         90000.000
..          ...               ...
120           F        157500.000
121           M        360000.000
122           M        162000.000
123           F        112500.000
124           F        202500.000
125           M        117000.000
126           F        135000.000
127           F        247500.000
128           M        171000.000
129           M        135000.000
130           F        157500.000
131           M        202500.000
132           M        144000.000
133           M        157500.000
134           F        157500.000
135           M        180000.000
136           M        180000.000
137           F        225000.000
138           M        292500.000
139           F         90000.000
140           F        112500.000
141           F        130500.000
142           F        450000.000
143           F        175500.000
144           F         58500.000
145           F        180000.000
146           F        117000.000
147           F        180000.000
148           F        202500.000
149           F        135000.000

[150 rows x 2 columns]

#### 資料刪除  NaN

In [ ]:
delet = pd.read_csv(f_app)
delet.dropna()
delet=delet.dropna()

In [ ]:
delet

空白資料填充

In [ ]:
app_train=app_train.fillna(0)

In [ ]:
app_train

資料排序

In [ ]:
app_train.sort_values('AMT_INCOME_TOTAL')

In [ ]:
app_train.sort_values('AMT_INCOME_TOTAL', ascending=False)  #排列順序倒過來

運算子運用

In [7]:
app_train['AMT_INCOME_TOTAL'] >= 100000

0          True
1          True
2         False
3          True
4          True
5         False
6          True
7          True
8          True
9          True
10         True
11        False
12        False
13         True
14         True
15         True
16         True
17        False
18         True
19        False
20         True
21         True
22         True
23        False
24         True
25        False
26         True
27         True
28         True
29        False
          ...
307481     True
307482     True
307483    False
307484     True
307485     True
307486     True
307487     True
307488     True
307489     True
307490    False
307491    False
307492     True
307493     True
307494     True
307495     True
307496     True
307497     True
307498     True
307499    False
307500     True
307501    False
307502    False
307503     True
307504     True
307505     True
307506     True
307507    False
307508     True
307509     True
307510     True
Name: AMT_INCOME_TOTAL, Length: 307511, dtype: bool

In [23]:
AMT_INCOME_TOTAL= app_train['AMT_INCOME_TOTAL'] >2000000

income= app_train[(AMT_INCOME_TOTAL)] 




income

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
10222,111903,0,Revolving loans,M,N,Y,3,2250000.0,900000.0,45000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12840,114967,1,Cash loans,F,N,Y,1,117000000.0,562491.0,26194.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
20216,123587,0,Cash loans,M,Y,N,0,3825000.0,1241023.5,117369.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,0.0
29737,134526,0,Revolving loans,M,N,N,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
35572,141198,0,Cash loans,F,Y,Y,1,2025000.0,733315.5,41076.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
39611,145858,0,Cash loans,F,N,N,0,2025000.0,1190340.0,63549.0,...,0,0,0,0,0.0,0.0,0.0,9.0,0.0,0.0
49645,157471,0,Cash loans,F,Y,N,0,3600000.0,953460.0,68791.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
55329,164105,0,Revolving loans,M,Y,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
62478,172449,0,Cash loans,M,Y,Y,0,2070000.0,2085120.0,72477.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
71637,183074,0,Revolving loans,F,N,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
74781,186724,0,Revolving loans,F,Y,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
77768,190160,0,Cash loans,F,Y,N,0,9000000.0,1431531.0,132601.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
81185,194130,0,Revolving loans,F,Y,N,0,2250000.0,2250000.0,112500.0,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,0.0
82846,196091,0,Cash loans,F,N,Y,1,3375000.0,900000.0,40801.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
86026,199821,0,Cash loans,M,Y,Y,1,3375000.0,900000.0,46084.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
91571,206341,0,Cash loans,M,Y,N,0,2025000.0,450000.0,35554.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
98243,214063,0,Cash loans,F,Y,Y,2,2214117.0,1350000.0,57199.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
101007,217276,0,Revolving loans,M,Y,Y,0,3150000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
103006,219563,0,Revolving loans,M,Y,Y,0,4500000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
107926,225210,0,Cash loans,M,Y,Y,0,2930026.5,900000.0,36657.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
115016,233366,0,Cash loans,F,N,Y,1,2160000.0,1255680.0,41629.5,...,0,0,0,0,0.0,0.0,0.0,3.0,0.0,0.0
131127,252084,0,Cash loans,M,Y,N,0,6750000.0,790830.0,52978.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
143936,266899,0,Cash loans,M,Y,Y,0,2025000.0,971280.0,62203.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
145673,268905,0,Revolving loans,M,Y,N,0,2250000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
158338,283559,0,Revolving loans,M,Y,Y,0,2250000.0,1012500.0,50625.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
176312,304300,0,Cash loans,F,Y,Y,0,2025000.0,1288350.0,41692.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
181698,310601,0,Cash loans,M,Y,Y,1,3950059.5,675000.0,66217.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
187833,317748,0,Cash loans,M,N,N,0,4500000.0,835380.0,42651.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
195807,327048,0,Revolving loans,M,Y,Y,0,2250000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
201855,333985,0,Cash loans,F,Y,N,0,2250000.0,1542645.0,62829.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
203693,336147,0,Cash loans,M,Y,Y,2,18000090.0,675000.0,69295.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
204564,337151,0,Cash loans,M,N,N,0,4500000.0,450000.0,47749.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
206814,339713,0,Cash loans,F,N,Y,0,2250000.0,976077.0,52132.5,...,0,0,0,0,0.0,1.0,0.0,0.0,0.0,2.0
246858,385674,0,Cash loans,M,Y,Y,0,13500000.0,1400503.5,130945.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
248058,387025,0,Cash loans,F,Y,Y,0,2025000.0,382500.0,14418.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
248159,387126,1,Cash loans,F,Y,Y,1,3150000.0,900000.0,48825.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
258773,399467,0,Revolving loans,M,Y,Y,2,2700000.0,180000.0,9000.0,...,0,0,0,0,0.0,2.0,0.0,0.0,0.0,1.0
278212,422344,0,Cash loans,M,Y,Y,0,2250000.0,1506816.0,49927.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
284311,429258,0,Cash loans,M,Y,N,0,3600000.0,1113840.0,44302.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
287463,432980,0,Cash loans,M,Y,Y,0,4500000.0,1755000.0,61132.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
294076,440695,0,Cash loans,M,Y,Y,2,2025000.0,808650.0,26217.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
294892,441639,0,Revolving loans,F,N,Y,0,2250000.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
298082,445335,0,Cash loans,M,Y,Y,0,2475000.0,1125000.0,47794.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
304477,452764,0,Cash loans,F,Y,Y,1,2025000.0,935640.0,93487.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0